appnope==0.1.2
backcall==0.2.0
bcrypt==3.1.7
boto3==1.16.63
botocore==1.19.63
certifi==2021.5.30
cffi==1.14.6
chardet==4.0.0
cryptography==3.2.1
cycler==0.10.0
decorator==5.0.9
Deprecated==1.2.13
idna==2.10
imageio==2.9.0
ipdb==0.13.9
ipython==7.9.0
ipython-genutils==0.2.0
jedi==0.17.2
jmespath==0.10.0
joblib==0.14.1
kiwisolver==1.1.0
matlab==0.1
matplotlib==3.0.3
mprop==0.16.0
networkx==2.4
numpy==1.18.5
opencv-contrib-python==3.4.0.14
opencv-python==3.4.0.14
paramiko==2.7.2
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
prompt-toolkit==2.0.10
ptyprocess==0.7.0
pyarrow==2.0.0
pycparser==2.20
Pygments==2.10.0
PyNaCl==1.4.0
pyparsing==2.4.7
python-dateutil==2.8.2
PyWavelets==1.1.1
redispy==3.0.0
requests==2.25.1
s3transfer==0.3.7
scikit-image==0.15.0
scikit-learn==0.22.2.post1
scipy==1.4.1
scp==0.14.0
six==1.16.0
tabulate==0.8.9
toml==0.10.2
tqdm==4.62.2
traitlets==4.3.3
urllib3==1.26.6
wcwidth==0.2.5
wrapt==1.12.1
